<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="scriptproviders" type="SqlScriptPackager.Core.Configuration.ScriptProviderConfiguration, SqlScriptPackager.Core" />
    <section name="ezhqxmltasksconfig" type="ScriptExecutor.CustomScriptProviders.Providers.Xml.EzHqXmlConfigurationSection, ScriptExecutor.CustomScriptProviders" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SqlScriptPackager.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear/>

    <add name="Local - Rearch" connectionString="Database=SaturnRearch;Server=localhost;Integrated Security=True;" />
    <add name="Local - Saturn" connectionString="Database=Saturn;Server=localhost;Integrated Security=True;" />
    <add name="Local - RMS" connectionString="Database=DevRMS;Server=dmdbdev4;Integrated Security=True;" />

    <add name="Dev - Rearch" connectionString="Database=SaturnRearch;Server=dmdbdev4;Integrated Security=True;" />
    <add name="Dev - Saturn" connectionString="Database=Saturn;Server=dmdbdev4;Integrated Security=True;" />
    <add name="Dev - RMS" connectionString="Database=DevRMS;Server=dmdbdev4;Integrated Security=True;" />

    <add name="Dev 4.0 - Rearch" connectionString="Database=PdfSaturnRearch;Server=dmdbdev4;Integrated Security=True;" />
    <add name="Dev 4.0 - Saturn" connectionString="Database=PdfSaturn;Server=dmdbdev4;Integrated Security=True;" />
    <add name="Dev 4.0 - RMS" connectionString="Database=DevRMS;Server=dmdbdev4;Integrated Security=True;" />

    <add name="UAT - Rearch" connectionString="Database=SaturnRearch;Server=dmdbuat4;Integrated Security=True;" />
    <add name="UAT - Saturn" connectionString="Database=Saturn;Server=dmdbuat4;Integrated Security=True;" />
    <add name="UAT - RMS" connectionString="Database=DevRMS;Server=dmdbuat4;Integrated Security=True;" />

    <add name="Model - Rearch" connectionString="Database=ModelSaturnRearch;Server=dmdbuat4;Integrated Security=True;" />
    <add name="Model - Saturn" connectionString="Database=ModelSaturn;Server=dmdbuat4;Integrated Security=True;" />
    <add name="Model - RMS" connectionString="Database=ModelRMS;Server=dmdbuat4;Integrated Security=True;" />

    <add name="Production - Rearch" connectionString="Database=SaturnRearch;Server=dmdbproda;Integrated Security=True;" />
    <add name="Production - Saturn" connectionString="Database=Saturn;Server=dmdbproda;Integrated Security=True;" />
    <add name="Production - RMS" connectionString="Database=RMS;Server=dmdbproda;Integrated Security=True;" />
  </connectionStrings>
  <scriptproviders>
    <providers>
      <add name="XmlTaskProvider" type="ScriptExecutor.CustomScriptProviders.Providers.XmlTaskProvider, ScriptExecutor.CustomScriptProviders" />
      <add name="TfsQueryTaskProvider" type="ScriptExecutor.CustomScriptProviders.Providers.TFS.TfsQueryTaskProvider, ScriptExecutor.CustomScriptProviders" />
    </providers>
  </scriptproviders>
  <ezhqxmltasksconfig>
    <ezhqxmltasks>
      <ezhqxmltask schemafilepath="C:\schemas\PacketDef.xsd" tasktype="ScriptExecutor.CustomScriptProviders.Tasks.PacketXmlTask, ScriptExecutor.CustomScriptProviders" />
      <ezhqxmltask schemafilepath="C:\schemas\FormsDef.xsd" tasktype="ScriptExecutor.CustomScriptProviders.Tasks.FormsXmlTask, ScriptExecutor.CustomScriptProviders" />
      <ezhqxmltask schemafilepath="C:\schemas\Questions.xsd" tasktype="ScriptExecutor.CustomScriptProviders.Tasks.QuestionsXmlTask, ScriptExecutor.CustomScriptProviders" />
      <ezhqxmltask schemafilepath="C:\schemas\Applications.xsd" tasktype="ScriptExecutor.CustomScriptProviders.Tasks.ApplicationXmlTask, ScriptExecutor.CustomScriptProviders" />
    </ezhqxmltasks>
  </ezhqxmltasksconfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <SqlScriptPackager.WPF.Properties.Settings>
      <setting name="DefaultScriptProvider" serializeAs="String">
        <value />
      </setting>
    </SqlScriptPackager.WPF.Properties.Settings>
  </userSettings>
</configuration>
